.ButtonComponent{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    margin: 20px 30px;
    background: #FFFCF2;
    
  }
  
  span{
    display: block;
    padding: 2vh 2vw;
  }
  .ButtonComponent::before, .ButtonComponent::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #000; /*these are the top*/
    
  }
  
  span::before, span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #000; /*these are the sides*/
    
  }
  .ButtonComponent:hover::before, .ButtonComponent:hover::after{
    width: 100%;
    
  }
  .ButtonComponent:hover span::before, .ButtonComponent:hover span::after{
    height: 100%;
  }
  /*----- button 5 -----*/
  .ButtonComponent::after{
    left:0;
    bottom: 0;
    transition-duration: 0.2s;
    
  }
  .ButtonComponent span::after{
    right:0;
    top: 0;
    transition-duration: 0.2s;
  }
  .ButtonComponent::before{
    right: 0;
    top: 0;
    transition-duration: 0.2s;
  }
  .ButtonComponent span::before{
    left: 0;
    bottom: 0;
    transition-duration: 0.2s;
  }



  @media screen and (max-width: 600px) {
    .ButtonComponent{
      display: inline-block;
      font-size: 1em;
      background: none;
      border: none;
      color: #000;
      cursor: pointer;
      background: white;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .ButtonComponent span {
      padding: 3vh;
      margin: 0;
    }

    
  }
/*
.ButtonComponent {
    color:antiquewhite;
    background-color: transparent;
    border: 0;
    font-size: 30px;
    font-family: Arial;
    border-radius: 0px;
    transition-duration: 0.4s;
    padding: 5px;
}

.ButtonComponent:hover {
    text-decoration: underline;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.89);
}
*/