.NavigationBarMainContainer {
    background-color: white;
    font-family: sans-serif;
    box-shadow: 10px 1px 10px 5px grey;
    position: relative;
    z-index: 1;
}

.NavBarColorBar_One {
    height: 2vh;
    background-color: #0ccc14;
}
.NavBarColorBar_Two {
    height: 2vh;
    background-color: #047bca;
}

.NavButtonContainer {
    background-color: #FFFCF2;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 5vw;
}
.NavButtonContainer button {
    color: black;
    font-size: 2rem;
    font-family: sans-serif;
}
.NavButtonContainer img {
    width: 18vw;
}